     
<MudDialog>
    <DialogContent>
        <MudCard>
            <MudForm Model="@model" @ref="@form" OnVal Validation="@(validator.ValidateValue)" ValidationDelay="0">
                <MudCardContent>
                        <MudTextField @bind-Value="model.Name"                              
                                    For="@(() => model.Name)"
                                    Immediate="true"
                                    Label="Nama" />

                        <MudTextField Lines="5" @bind-Value="model.Description"
                                    For="@(() => model.Description)"
                                    Immediate="true"
                                    Label="Keterangan" />

                        <MudField Label="Logo" >
                          <div style="flex: justify-content:center;">
                              <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                                <ButtonTemplate>
                                      <MudIconButton HtmlTag="label"
                                            Color="Color.Info"
                                            Icon="@Icons.Material.Filled.PhotoCamera"
                                            for="@context">
                                        </MudIconButton>
                                </ButtonTemplate>
                            </MudFileUpload>

                             @if (!string.IsNullOrEmpty(logoSource))
                                    {
                                        <div style="display:flex; justify-content: center;">
                                            <MudImage HTMLTage="label" Style="width:150px" Src="@logoSource" Alt="Mony the dog" Elevation="25" Class="rounded-lg"/>
                                
                                        </div>
                                      }  
                          </div>
                           
                        </MudField>
                </MudCardContent>
            </MudForm>
        </MudCard>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton OnClick="Submit" Color="Color.Primary">Ok</MudButton>
    </DialogActions>
</MudDialog>



@code {
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
   
    [Parameter]
    public  InstansiRequest? model {get;set;}

    MudForm? form;
    InstansiValidator validator= new InstansiValidator();

    string? logoSource = "/emptyimage.png";

    void Submit() {

        if(form.IsValid){
            MudDialog.Close(DialogResult.Ok(model));
        }
    }
    void Cancel() => MudDialog.Cancel();

     IList<IBrowserFile> files = new List<IBrowserFile>();
    private async Task UploadFiles(IBrowserFile file)
    {
        files.Add(file);
        var filename ="[Enter or create name for your file here]";
     
             var ms = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(ms);
            model.DataLogo = ms.ToArray();
            var xx = Convert.ToBase64String(model.DataLogo);
            logoSource = $"data:image/png;base64, {xx}";
    }
}