@layout AdminLayout
@page "/admin/pihakterkait"

@inject IPihakTerkaitService pihakTerkaitService
@inject NavigationManager Navigation
@inject IDialogService Dialog
@inject IJSRuntime js

<MudPaper Class="noprint" style="margin:20px; padding: 30px;">
    <div style="display: flex;">
        <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Data Pihak Terkait</MudText>
        <MudSpacer />
        <div>
            <MudButton OnClick="Add" Size="Size.Small" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add">Tambah</MudButton>
            <MudButton OnClick="@(async()=> await js.InvokeVoidAsync("window.print"))" Size="Size.Small" Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Print">Cetak</MudButton>
        </div>
    </div>

    <MudDataGrid Items="@datas.Select((x,i)=> new {Data=x, index=i})">
        <Columns>
            <TemplateColumn Title="Nomor">
                <CellTemplate>
                    @(context.Item.index + 1)
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Data.Instansi.Name" Title="Instansi" />
            <PropertyColumn Property="x => x.Data.District.Name" Title="Distrik" />
            <PropertyColumn Property="x => x.Data.Name" Title="Pihak Terkait" />
            <PropertyColumn Property="x => x.Data.Description" Title="Keterangan" />
            <TemplateColumn Context="item" style="width:70px">
                <CellTemplate>
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                        <MudMenuItem OnClick="@(()=>Edit(item.Item.Data))" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Warning">Edit</MudMenuItem>
                        <MudMenuItem OnClick="@(()=>Delete(item.Item.Data))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error">Delete</MudMenuItem>
                    </MudMenu>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</MudPaper>


<div class="justprint">
    <CetakPihakTerkait Datas="datas"></CetakPihakTerkait>

</div>

@code {
    ICollection<PihakTerkaitRequest> datas = new List<PihakTerkaitRequest>();

    protected override async Task OnInitializedAsync()
    {
        var result = await pihakTerkaitService.GetAsync();
        datas = result.ToList();
    }

    async Task Add()
    {
        DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };
        var parameters = new DialogParameters<EditPihakTerkaitPage> { { x => x.model, new PihakTerkaitRequest() } };
        var dlg = await Dialog.Show<EditPihakTerkaitPage>("Tambah Pihak Terkait", parameters, options).Result;
        if (!dlg.Canceled)
        {
            var model = dlg.Data as PihakTerkaitRequest;
            var result = await pihakTerkaitService.PostAsync(model);
            if (result != null)
            {
                model.Id = result.Id;
                model.UserId = result.UserId;
                datas.Add(model);
                await InvokeAsync(() => StateHasChanged());
            }
        }
    }

    async Task Edit(PihakTerkaitRequest model)
    {
        DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };
        var parameters = new DialogParameters<EditPihakTerkaitPage> { { x => x.model, model } };
        var dlg = await Dialog.Show<EditPihakTerkaitPage>("Edit Pihak Terkait", parameters, options).Result;
        if (!dlg.Canceled)
        {
            var district = dlg.Data as PihakTerkaitRequest;
            var result = await pihakTerkaitService.PutAsync(district.Id, district);

        }

    }


    async Task Delete(PihakTerkaitRequest model)
    {
        bool? result = await Dialog.ShowMessageBox(
                    "Warning", "Yakin Hapus Data ?", yesText: "Delete!", cancelText: "Cancel");
        if (result is true)
        {
            var deleted = await pihakTerkaitService.DeleteAsync(model.Id);
            if (deleted)
            {
                datas.Remove(model);
            }
        }
    }
}
