
<div style="display:flex; justify-content:center">
    <MudImage Style="width:25%; margin:20px" Src="basarnas.png"></MudImage>
</div>

<MudNavMenu>
    <MudNavLink Icon="@Icons.Material.Filled.Dashboard" Href="/admin" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Place" Href="/admin/distrik" Match="NavLinkMatch.Prefix">Distrik</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.OtherHouses" Href="/admin/instansi" Match="NavLinkMatch.Prefix">Instansi</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.KeyboardOptionKey" Href="/admin/jeniskejadian" 
                Match="NavLinkMatch.Prefix">Jenis Kejadian</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.NearbyOff" Href="/admin/pihakterkait"
                Match="NavLinkMatch.Prefix">Pihak Terkait</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.AccessAlarm" Href="/admin/kejadian" Match="NavLinkMatch.Prefix">Kejadian/Laporan</MudNavLink>
</MudNavMenu>